{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "COLOQUE-AQUI-SEU-ID",
    "storage_bucket": "COLOQUE-AQUI-SEU-ID.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:0000000000000000",
        "android_client_info": {
          "package_name": "br.com.guilhermepagio.curso.udemy.flutter.chat"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "SUA-CHAVE-AQUI"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}